Repository DataDog/extendeddaemonset, pull requests merged in 2020-12, with the labels that each got.

#67 [e2e] Resurrecting e2e tests on kind with envtest framework
  .github/workflows/validation.yml
  Makefile
  controllers/extendeddaemonset_e2e_test.go
  controllers/extendeddaemonset_test.go
  controllers/setup.go
  controllers/suite_e2e_test.go
  controllers/suite_helpers_test.go
  controllers/suite_test.go
  controllers/suite_unit_test.go
  test/README.md
  test/cluster-kind.yaml
Labels: component/controller, enhancement

#68 [eds] Introduce PodCannotStart condition and canary auto-pause handling
  api/v1alpha1/extendeddaemonset_types.go
  api/v1alpha1/extendeddaemonsetreplicaset_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_extendeddaemonsets.yaml
  config/crd/bases/v1beta1/datadoghq.com_extendeddaemonsets.yaml
  controllers/extendeddaemonset/controller.go
  controllers/extendeddaemonset/utils.go
  controllers/extendeddaemonset/utils_test.go
  controllers/extendeddaemonset_e2e_test.go
  controllers/extendeddaemonset_test.go
  controllers/extendeddaemonsetreplicaset/controller.go
  controllers/extendeddaemonsetreplicaset/strategy/canary.go
  controllers/extendeddaemonsetreplicaset/strategy/canary_test.go
  controllers/extendeddaemonsetreplicaset/strategy/utils.go
  controllers/suite_helpers_test.go
  examples/failure-cases/foo-eds_config_error.yaml
  examples/failure-cases/foo-eds_image_pull_error.yaml
  examples/failure-cases/foo-eds_restarts.yaml
  examples/failure-cases/foo-eds_slow_start_missing_volume.yaml
  go.mod
  pkg/controller/utils/pod/pod.go
Labels: component/controller, enhancement

#69 use client.Patch() for [add|remov]ing canary label
  controllers/extendeddaemonsetreplicaset/strategy/utils.go
  controllers/extendeddaemonsetreplicaset/strategy/utils_test.go
Labels: bug, component/controller, enhancement

#70 [Plugin] Add canary pods and not ready pods commands
  README.md
  cmd/check-eds/upgrade/upgrade.go
  pkg/plugin/canary/canary.go
  pkg/plugin/canary/fail.go
  pkg/plugin/canary/pause.go
  pkg/plugin/canary/pods.go
  pkg/plugin/canary/validate.go
  pkg/plugin/common/client.go
  pkg/plugin/common/pods.go
  pkg/plugin/common/table.go
  pkg/plugin/common/utils.go
  pkg/plugin/common/utils_test.go
  pkg/plugin/extendeddaemonset.go
  pkg/plugin/get/common.go
  pkg/plugin/get/get.go
  pkg/plugin/get/geters.go
  pkg/plugin/pods/pods.go
Labels: component/plugin, enhancement

#71 [Fix] Make sure the ERS only handles defaulted EDS CR
  api/v1alpha1/extendeddaemonset_default.go
  controllers/extendeddaemonsetreplicaset/controller.go
  controllers/extendeddaemonsetreplicaset/controller_test.go
Labels: bug, component/controller

#72 Fix IsPodAvailable() to wait the PodReady is true
  controllers/extendeddaemonset_test.go
  controllers/extendeddaemonsetreplicaset/strategy/canary_test.go
  controllers/testutils/new.go
  pkg/controller/utils/pod/pod.go
  pkg/controller/utils/pod/pod_test.go
Labels: bug, component/controller

#73 Fix IsPodAvailable() to wait the PodReady is true (#72)
  controllers/extendeddaemonset_test.go
  controllers/extendeddaemonsetreplicaset/strategy/canary_test.go
  controllers/testutils/new.go
  pkg/controller/utils/pod/pod.go
  pkg/controller/utils/pod/pod_test.go
Labels: bug, component/controller
