Repository DataDog/extendeddaemonset, pull requests merged in 2020-10, with the labels that each got.

#43 Allow the EDS to deploy pods on unschedulable nodes
  controllers/extendeddaemonset/controller.go
  controllers/extendeddaemonsetreplicaset/filters.go
  controllers/extendeddaemonsetreplicaset/scheduler/predicates.go
  controllers/extendeddaemonsetreplicaset/scheduler/predicates_test.go
  pkg/controller/test/new.go
  pkg/controller/utils/pod/const.go
  pkg/controller/utils/pod/create.go
Labels: bug, component/controller

#44 Fix helm chart configuration
  chart/extendeddaemonset/templates/deployment.yaml
Labels: bug

#36 Move the CRDs of the chart to a dedicated directory
  chart/extendeddaemonset/crds/datadoghq.com_extendeddaemonsetreplicasets_crd.yaml
  chart/extendeddaemonset/crds/datadoghq.com_extendeddaemonsets_crd.yaml
  chart/extendeddaemonset/crds/datadoghq.com_extendeddaemonsetsettings_crd.yaml
Labels: component/chart, enhancement

#45 fix CRDs path in helm chart
  chart/extendeddaemonset/crds/datadoghq.com_extendeddaemonsetreplicasets.yaml
  chart/extendeddaemonset/crds/datadoghq.com_extendeddaemonsetreplicasets_crd.yaml
  chart/extendeddaemonset/crds/datadoghq.com_extendeddaemonsets.yaml
  chart/extendeddaemonset/crds/datadoghq.com_extendeddaemonsets_crd.yaml
  chart/extendeddaemonset/crds/datadoghq.com_extendeddaemonsetsettings.yaml
  chart/extendeddaemonset/crds/datadoghq.com_extendeddaemonsetsettings_crd.yaml
Labels: bug, component/chart

#47 fix leader election configmap name
  Dockerfile
  chart/extendeddaemonset/Chart.yaml
  chart/extendeddaemonset/values.yaml
  examples/foo-eds_exclude-node.yaml
  examples/foo-eds_v1.yaml
  examples/foo-eds_v2.yaml
  main.go
Labels: bug, component/chart

#48 Add json log encoder
  main.go
Labels: bug, component/controller

#52 Add a canary pod label
  api/v1alpha1/const.go
  controllers/extendeddaemonset_test.go
  controllers/extendeddaemonsetreplicaset/strategy/canary.go
  controllers/extendeddaemonsetreplicaset/strategy/rollingupdate.go
  controllers/extendeddaemonsetreplicaset/strategy/utils.go
Labels: component/controller, enhancement

#54 Update validate.go
  pkg/plugin/validate.go
Labels: component/plugin

#53 Add extendeddaemonset-check helper
  .gitlab-ci.yml
  Makefile
  chart/app-example/.helmignore
  chart/app-example/Chart.yaml
  chart/app-example/README.md
  chart/app-example/templates/NOTES.txt
  chart/app-example/templates/_helpers.tpl
  chart/app-example/templates/extendeddaemonset.yaml
  chart/app-example/templates/serviceaccount.yaml
  chart/app-example/templates/tests/role.yaml
  chart/app-example/templates/tests/service-account.yaml
  chart/app-example/templates/tests/test-update.yaml
  chart/app-example/values.yaml
  check-eds.Dockerfile
  cmd/check-eds/main.go
  cmd/check-eds/root/root.go
  cmd/check-eds/upgrade/upgrade.go
  pkg/plugin/fail.go
  pkg/plugin/get.go
  pkg/plugin/pause.go
  pkg/plugin/validate.go
Labels: enhancement

#55 Fix flaky e2e
  controllers/extendeddaemonset_test.go
  controllers/suite_test.go
Labels: bug, component/controller
