Repository DataDog/extendeddaemonset, pull requests merged in 2022-01, with the labels that each got.

#141 change fail cmd to update ers instead of eds
  api/v1alpha1/const.go
  controllers/extendeddaemonset/controller.go
  controllers/extendeddaemonset/controller_test.go
  controllers/extendeddaemonset/utils.go
  controllers/extendeddaemonset/utils_test.go
  controllers/extendeddaemonset_e2e_test.go
  controllers/extendeddaemonsetreplicaset/controller.go
  controllers/extendeddaemonsetreplicaset/strategy/canary.go
  controllers/extendeddaemonsetreplicaset/strategy/utils.go
  controllers/extendeddaemonsetreplicaset/strategy/utils_test.go
  pkg/plugin/canary/fail.go
  pkg/plugin/canary/pause.go
Labels: bug, component/controller, component/plugin

#142 add node taint check for canary nodes, add missing test case for validation
  api/v1alpha1/extendeddaemonset_validate_test.go
  controllers/extendeddaemonset/controller.go
Labels: bug, component/controller

#143 Merge release branch v0.8
  api/v1alpha1/const.go
  api/v1alpha1/extendeddaemonset_validate_test.go
  bundle.Dockerfile
  bundle/manifests/datadoghq.com_extendeddaemonsets.yaml
  bundle/manifests/extendeddaemonset.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  controllers/extendeddaemonset/controller.go
  controllers/extendeddaemonset/controller_test.go
  controllers/extendeddaemonset/utils.go
  controllers/extendeddaemonset/utils_test.go
  controllers/extendeddaemonset_e2e_test.go
  controllers/extendeddaemonsetreplicaset/controller.go
  controllers/extendeddaemonsetreplicaset/strategy/canary.go
  controllers/extendeddaemonsetreplicaset/strategy/utils.go
  controllers/extendeddaemonsetreplicaset/strategy/utils_test.go
  pkg/plugin/canary/fail.go
  pkg/plugin/canary/pause.go
Labels: component/controller
